<template>
  <v-app>
    <v-card max-width="30%">
      <v-card-title></v-card-title>
    </v-card>
  </v-app>
</template>

<script>
export default {
  data: () => ({})
};
</script>

<style scoped>
</style>