<template>
  <v-container fluid class="pa-0 grey lighten-5">
    <v-layout justify="center" column>
      <v-row class="pink lighten-1 pa-5" align="center" justify="space-around">
        <h1 class="white--text">PRINCIPAIS DOADORES</h1>
        <v-col v-for="icon in brands" :key="icon" lg="1">
          <v-img contain class="grayscale" :src="icon"></v-img>
        </v-col>
      </v-row>
      <v-container>
        <p
          class="px-4 mt-4 font-weight-black display-2 text-center"
          justify-center
        >SUAS OPÇÕES DE DOAÇÕES</p>
      </v-container>
      <v-row class="pa-10 text-center" justify-center>
        <v-row justify="space-around">
          <v-col v-for="item in items" :key="item.title">
            <v-hover v-slot:default="{ hover }">
              <v-card class="align-center white darken-1 black--text" :elevation="hover ? 18 : 2">
                <div class="pa-5">
                  <v-img class="mx-auto" contain width="150px" height="150px" :src="item.icon"></v-img>
                </div>
                <v-card-text class="title font-weight-black text-center center">{{item.title}}</v-card-text>
                <v-card-text class="body-2 grey--text text--darken-4 text-center">{{item.text}}</v-card-text>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-row>
      <v-row color="green darken-1"></v-row>

      <p class="font-weight-black display-2 text-center">EXEMPLOS DE DOAÇÕES</p>
      <v-timeline class="px-10" dense>
        <v-timeline-item v-for="event in timeline" :key="event.year" color="green darken-1">
          <span>{{event.year}}</span>
          <v-card class="elevation-2">
            <v-card-title class="headline">{{event.title}}</v-card-title>
            <v-card-text class="body-1">{{event.text}}</v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    brands: [
      "https://openconnectivity.org/wp-content/uploads/2015/09/samsung-logo-4.png",
      "https://i2.wp.com/freepngimages.com/wp-content/uploads/2016/11/santander-bank-logo.png?fit=895%2C224",
      "http://brand.vtex.com/static/media/logo.2f3fc60b.svg",
      "https://www.cobli.co/wp-content/uploads/2017/03/logo-cobli-novo-min.png"
    ],
    items: [
      {
        title: "Doação em Dinheiro",
        icon: "https://image.flaticon.com/icons/svg/138/138280.svg",
        text:
          "Pessoas físicas e jurídicas podem doar dinheiro para fins específicos. Basta selecionar a Unidade da USP que pretende ajudar e especificar as destinações. Compra de livros para a biblioteca ou manutenção de equipamentos e de salas de aulas estão entre as opções frequentemente especificadas."
      },
      {
        title: "Doação de bens móveis",
        icon: "https://image.flaticon.com/icons/svg/138/138215.svg",
        text:
          "Para ceder à USP bens móveis, eles não podem onerar a Universidade com taxas de manutenção, entre outras. Livros e equipamentos eletrônicos simples estão entre as principais doações realizadas. Para os demais bens, como maquinários pesados, o Reitor deverá ser consultado."
      },
      {
        title: "Programa Parceiros",
        icon:
          "http://programa.centrodecarreiradapoli.com.br/wp-content/themes/centrodecarreiradapoli/assets/img/logo-amigosdapoli.png",

        text:
          "Para fomentar iniciativas comunitárias, a Universidade de São Paulo criou o Programa Parceiros da USP. Basta que um grupo proponha um projeto específico, como construção ou reforma de pavilhões, laboratórios, bibliotecas, entre outros. Após a criação, outros usuários podem ser mobilizados a doar."
      }
    ],
    timeline: [
      {
        year: "2010",
        title: "Reforma Biblioteca FEA",
        text:
          "A Faculdade de Economia, Administração e Contabilidade (FEA) da USP inaugurou dia 2 de julho as novas instalações de sua biblioteca, que abriga um acervo de 430 mil obras. Os projetos de expansão e modernização da biblioteca, iniciados em 2010, foram executados com recursos da USP e de doações feitas por empresas, nos termos da Lei Rouanet, e pessoas físicas – professores, alumni, alunos e funcionários."
      },
      {
        year: "2014",
        title: "Decora CCSL",
        text:
          "O Centro de Competência em Software Livre do IME/USP é um espaço para desenvolvimento de projetos científicos, tecnológicos e educacionais em torno do Software Livre, Inovação Tecnológica e Empreendedorismo. Com meta de alcançar R$ 25 mil, arrecadaram R$ 27.200 junto a 103 pessoas e adquiriram 2 sofás, 3 poltronas, 2 mesas, 2 mesas laterais, 2 bancos, 8 cadeiras, 1 luminária, papel de parede e quadro de cortiça. "
      }
    ]
  })
};
</script>

<style scoped>
.grayscale {
  filter: grayscale(100%);
}
</style>
