<template>
  <v-app>
    <v-container fluid fill-height class="home" style="max-height: 100vh;">
      <v-layout justify-center align-left column pa-5>
        <div class="display-4 font-weight-black white--text pa-1">FUNDO SABER</div>
        <div class="display-3 font-weight-black white--text pa-1">Faça sua doação</div>
        <div class="pt-12">
          <v-btn rounded x-large color="green darken-1" to="/invest" dark>Doar</v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-app>
</template>

<style scoped>
.home {
  background: url("http://www.imagens.usp.br/wp-content/uploads/Pra%C3%A7a_Relogio_106-17_Foto-Cec%C3%ADlia-Bastos-09.jpg");
  background-size: cover;
}
</style>
