<template>
  <v-app>
    <Logo />
    <Info />
  </v-app>
</template>

<script>
import Logo from "~/components/Logo.vue";
import Info from "~/components/Info.vue";
import Card from "~/components/Card.vue";

export default {
  components: {
    Logo,
    Info,
    Card
  }
};
</script>
