<template>
  <v-stepper v-model="e1" color="green darken-1">
    <v-stepper-header color="green darken-1">
      <v-stepper-step color="green darken-1" :complete="e1 > 0" step="0">Passo 0</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step color="green darken-1" :complete="e1 > 1" step="1">Passo 1</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step color="green darken-1" :complete="e1 > 2" step="2">Passo 2</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step color="green darken-1" :complete="e1 > 3" step="3">Passo 3</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step color="green darken-1" :complete="e1 > 4" step="4">Passo 4</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="0">
        <v-card class="mb-12">
          <v-img :src="ada_image" height="30vh"></v-img>
          <v-container>
            <vue-typer
              repeat="0"
              pre-type-delay="10"
              type-delay="20"
              text="Meu nome é Ada Lovelace, sou sua gerente de investimento e te guiarei nas próximas etapas. Você sabe aonde quer investir?"
              class="title"
            ></vue-typer>
          </v-container>
        </v-card>
        <v-btn class="white--text" color="green darken-1" to="/search">Sim</v-btn>
        <v-btn class="white--text" color="green darken-1" @click="e1 = 1">Não</v-btn>
      </v-stepper-content>

      <v-stepper-content step="1">
        <v-card class="mb-12">
          <v-img :src="ada_image" height="30vh"></v-img>
          <v-container>
            <div class="title">De qual forma deseja investir?</div>
          </v-container>
          <v-container fluid>
            <v-radio-group v-model="radios" :mandatory="false">
              <v-radio label="Dinheiro" value="D"></v-radio>
              <v-radio label="Bens" value="B"></v-radio>
            </v-radio-group>
          </v-container>
        </v-card>
        <v-btn
          class="white--text"
          color="green darken-1"
          @click="e1 = 2; s += radios; radios=empty;"
          :disabled="!radios"
        >Continuar</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card class="mb-12">
          <v-img :src="ada_image" height="30vh"></v-img>
          <v-container>
            <div class="title">Para qual instituto deseja fazer uma doação?</div>
          </v-container>

          <v-container fluid class="pa-0 ma-0">
            <v-radio-group v-model="radios" :mandatory="false">
              <v-radio label="Instituto de Matemática e Estatística (IME)" value="I"></v-radio>
              <v-radio label="Escola Politécnica (Poli)" value="P"></v-radio>
              <v-radio label="Faculdade de Arquitetura e Urbanismo (FAU)" value="F"></v-radio>
              <v-radio label="Hospital Universitário" value="H"></v-radio>
              <v-radio label="Biblioteca Brasiliana" value="B"></v-radio>
            </v-radio-group>
          </v-container>
        </v-card>
        <v-btn
          class="white--text"
          color="green darken-1"
          @click="s += radios; e1 = s == 'PP' ? 4 : 3; c = el == 4 ? run() : {}; radios=empty"
          :disabled="!radios"
        >Continuar</v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card class="mb-12">
          <v-img :src="ada_image" height="30vh"></v-img>
          <v-container>
            <div class="title">Em qual dessas opções você melhor se enquadra?</div>
          </v-container>
          <v-container fluid>
            <v-radio-group v-model="radios" :mandatory="false">
              <v-radio label="Pessoa Física" value="F"></v-radio>
              <v-radio label="Pessoa Jurídica" value="J"></v-radio>
            </v-radio-group>
          </v-container>
        </v-card>
        <v-btn
          class="white--text"
          color="green darken-1"
          @click="e1 = 4;s += radios; radios=empty; c = run()"
          :disabled="!radios"
        >Continuar</v-btn>
      </v-stepper-content>

      <v-stepper-content step="4">
        <v-card class="mx-auto" max-width="400">
          <v-img class="white--text" height="200px" :src="c.image">
            <v-card-title class="align-end fill-height">{{c.name}}</v-card-title>
          </v-img>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-action-text>{{c.description}}</v-list-item-action-text>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-list v-for="item in c.items" :key="item">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-action-text>{{item}}</v-list-item-action-text>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-card-actions>
            <v-btn
              class="white--text"
              text
              color="orange"
              href="https://docs.google.com/forms/d/1n10HTvw7y-TgsmNrtnACXWfattQ79uR2ieyWyf83zKM/"
            >Preencha o Formulário</v-btn>
          </v-card-actions>
        </v-card>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import a from "@/pages/cards.json";

export default {
  data() {
    return {
      ada_image:
        "https://www.biography.com/.image/t_share/MTE4MDAzNDEwODQwOTQ2MTkw/ada-lovelace-20825279-1-402.jpg",
      e1: 0,
      empty: "",
      radios: "",
      f: a,
      s: "",
      c: {}
    };
  },
  methods: {
    run() {
      for (var i in this.f) if (this.f[i].id == this.s) return this.f[i];
    }
  }
};
</script>

<style scoped>
</style>
    