<template>
  <v-app>
    <v-container fluid>
      <v-form>
        <v-text-field color="green darken-1" v-model="search" append-icon="search" label="Pesquisa"></v-text-field>
        <v-select color="green darken-1" :items="items" label="Unidade" v-model="select"></v-select>
      </v-form>
      <v-data-iterator :items="filteredItems" :search="search" single-expand>
        <template v-slot:default="{ items, isExpanded, expand }">
          <v-row>
            <v-col v-for="item in items" :key="item.name" cols="12" sm="6" md="4" lg="3">
              <v-card class="mx-auto">
                <v-img class="white--text" :src="item.image">
                  <v-card-title class="align-end fill-height">{{item.name}}</v-card-title>
                </v-img>
                <v-card-text>
                  <span class="subtitle-1 text--primary">
                    <span>{{item.donate}}</span>
                  </span>
                  <v-divider></v-divider>
                  <span class="subtitle-1 text--primary">
                    <span>{{item.user}}</span>
                  </span>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    text
                    color="orange"
                    href="https://docs.google.com/forms/d/1n10HTvw7y-TgsmNrtnACXWfattQ79uR2ieyWyf83zKM/"
                  >Preencha o Formulário</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
    </v-container>
  </v-app>
</template>


<script>
import cards from "@/pages/cards.json";

export default {
  data: () => ({
    sheet: cards,
    items: ["IME", "EP", "FAU", "HU", "BB"],
    select: "",
    search: "",
    headers: [
      { text: "Unidade", value: "name" },
      { text: "Descrição", value: "description" }
    ]
  }),
  computed: {
    filteredItems() {
      return this.sheet.filter(i => {
        return !this.select ? true : i.tag == this.select;
      });
    }
  }
};
</script>